<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

    </head>

    <body>
        <h3>This is About</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est provident magnam, iusto distinctio quae dolorum
            molestias vitae voluptas amet tempora ab porro quasi, a fuga obcaecati? Molestiae accusantium repellat
            magni!
            <button class="buy-btn">Back</button>

        </p>
    </body>

</html>