<section class="row">
    <div class="colmd-12">
        <div class="carousel slide" id="mycarousel" data-bs-ride="carousel" data-pause="false">
            <div>
                <ol class="carousel-indicators">
                    <li class="active" data-bs-target="#mycarousel" data-bs-slide-to="0"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                    <li class="" data-bs-target="#mycarousel" data-bs-slide-to="1"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                    <li class="" data-bs-target="#mycarousel" data-bs-slide-to="2"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                    <li class="" data-bs-target="#mycarousel" data-bs-slide-to="3"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                    <li class="" data-bs-target="#mycarousel" data-bs-slide-to="4"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                    <li class="" data-bs-target="#mycarousel" data-bs-slide-to="5"
                        style="border-radius: 100%;height: 12px;width: 12px;"></li>
                </ol>
            </div>
            <!-- wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- insert the image -->
                    <img src="../static/files/slide1.jpg" alt="slide1" class="d-block w-100" style="height: 277px;">
                    <!-- create a div for carousel caption -->
                    <div class=" carousel-caption text-dark" style="
  border-radius: 15px 50px 30px;
  background: #ff416c;
  padding: 20px; 
  width: fit-content;
  height: 150px;">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!-- insert the image -->
                    <img src="../static/files/slide2.jpg" alt="slide1" class="d-block w-100" style="height: 277px;"
                        height: 277px;>
                    <!-- create a div for carousel caption -->
                    <div class="carousel-caption text-dark" style="
  border-radius: 15px 50px 30px;
  background: #abff78;
  padding: 20px; 
  width: fit-content;
  height: 150px; ">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <!-- insert the image -->
                    <img src="../static/files/slide3.jpg" alt="slide1" class="d-block w-100" style="height: 277px;">
                    <!-- create a div for carousel caption -->
                    <div class=" carousel-caption text-dark" style="
  border-radius: 15px 50px 30px;
  background: #ed213a;
  padding: 20px; 
  width: fit-content;
  height: 150px; ">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <!-- insert the image -->
                    <img src="../static/files/slide4.gif" alt="slide1" class="d-block w-100" style="height: 277px;">
                    <!-- create a div for carousel caption -->
                    <div class=" carousel-caption text-dark" style="
  border-radius: 15px 50px 30px;
  background: #73AD21;
  padding: 20px; 
  width: fit-content;
  height: 150px; ">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <!-- insert the image -->
                    <img src="../static/files/slide5.jpg" alt="slide1" class="d-block w-100" style="height: 277px;">
                    <!-- create a div for carousel caption -->
                    <div class=" carousel-caption text-dark" style="
  border-radius: 15px 50px 30px;
  background: #f37335;
  padding: 20px; 
  width: fit-content;
  height: 150px; ">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <!-- insert the image -->
                    <img src="../static/files/slide6.jpg" alt="slide1" class="d-block w-100" style="height: 277px;">
                    <!-- create a div for carousel caption -->
                    <div class="carousel-caption text-dark" style="
                            border-radius: 15px 50px 30px;
                            background: #fdc830;
                            padding: 20px; 
                            width: fit-content;
                            height: 150px; ">
                        <h3>Daily Essentials From Soko</h3>
                        <p>Welcome to our daily essentials products.We are here to sort you on daily basis
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>